<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div *ngIf="error" class="alert alert-danger">
                <p> {{ error }} </p>
            </div>
            <div *ngIf="isLoading">
                <app-loading-spinner></app-loading-spinner>
            </div>
            <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()" *ngIf="!isLoading">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                    <span *ngIf="!signUpForm.get('name').valid && signUpForm.get('name').touched" class="errorMsg">
                        <span *ngIf="signUpForm.get('name').errors['required']">
                            This field is required
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email Id</label>
                    <input type="email" id="email" class="form-control" formControlName="email">
                    <span *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched" class="errorMsg">
                        <span *ngIf="signUpForm.get('email').errors['required']">
                            This field is required
                        </span>
                        <span *ngIf="signUpForm.get('email').errors['email']">
                            Email Id is not Valid
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password">
                    <span *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched" class="errorMsg">
                        <span *ngIf="signUpForm.get('password').errors['required']">
                            This field is required
                        </span>
                        <span *ngIf="signUpForm.get('password').errors['pattern']">
                            Password pattern is wrong
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword">
                    <span *ngIf="!signUpForm.get('confirmPassword').valid && signUpForm.get('confirmPassword').touched" class="errorMsg">
                        <span *ngIf="signUpForm.get('confirmPassword').errors['required']">
                            This field is required
                        </span>
                        <span *ngIf="signUpForm.get('confirmPassword').errors['passwordMatch']">
                            Password is not matching
                        </span>
                    </span>
                </div>
                <br>
                <div>
                    <button class="btn btn-primary btn-sm" type="submit" [disabled]="!signUpForm.valid">SignUp</button> |
                    <button class="btn btn-primary btn-sm" routerLink="/login" type="button">Back To Login</button>
                </div>
            </form>
        </div>
    </div>
</div>