<h4>{{title | uppercase | textShort:32}}</h4>
<br>
<div style="background-color: lightblue;width:auto;height:30px">
    <h5>
        Output : {{asyncPipe | async}}
    </h5>
</div>
<br>
<div class="container">
    <div class="row">
        <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name"
                        formControlName="name"
                    >
                    <span *ngIf="newForm.get('userData.name').invalid && newForm.get('userData.name').touched">
                        <span *ngIf="newForm.get('userData.name').errors['restrictName']"> This Name is not Valid </span>
                        <span *ngIf="newForm.get('userData.name').errors['required']"> This Field is Required </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="email"
                        formControlName="email"
                    >
                    <span *ngIf="newForm.get('userData.email').invalid && newForm.get('userData.email').touched">
                        <span *ngIf="newForm.get('userData.email').errors['restrictEmail']">Email is not Valid</span>
                        <span *ngIf="newForm.get('userData.email').errors['required']"> This Field is Required </span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="about">About Yourself</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="about"
                    formControlName="about"
                >
            </div>
            <div class="form-group">
                <label for="date">Select your birthdate</label>
                <input 
                    type="date" 
                    class="form-control" 
                    id="date"
                    formControlName="date"
                >
            </div>
            <div class="radio" *ngFor="let gender of genders">
                <label>
                    <input 
                        type="radio" 
                        [value]="gender"
                        formControlName="gender"
                    > {{gender}}
                </label>
            </div>
            <div formArrayName="hobbies">
                <h4> your Hobbies </h4>
                <button 
                    class="btn btn-primary" 
                    type="button" 
                    (click)="onAddHobby()"
                > Add hobby</button>
                <div 
                    class="fomr-group" 
                    *ngFor="let hobbyControl of getControls() ; let i = index"
                ><input type="text" [formControlName]="i">
                </div>
            </div>
            <span *ngIf="newForm.invalid && newForm.touched">
                Form is invalid
            </span>
            <button type="submit" class="btn btn-primary" [disabled]="!newForm.valid">Save</button>
        </form>
    </div>
</div>
