<h4>{{title}}</h4>
<div class="container">
    <div class="row">
        <form [formGroup]="newForm" (ngSubmit)="onSubmit()">
            <div formGroupName="userData">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="name"
                        formControlName="name"
                    >
                    <span *ngIf="newForm.get('userData.name').invalid && newForm.get('userData.name').touched">
                        Please enter your name
                    </span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        id="email"
                        formControlName="email"
                    >
                    <span *ngIf="newForm.get('userData.email').invalid && newForm.get('userData.email').touched">
                        Please enter correct email id
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="about">About Yourself</label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="about"
                    formControlName="about"
                >
            </div>
            <div class="radio" *ngFor="let gender of genders">
                <label>
                    <input 
                        type="radio" 
                        [value]="gender"
                        formControlName="gender"
                    > {{gender}}
                </label>
            </div>
            <span *ngIf="newForm.invalid && newForm.touched">
                Form is invalid
            </span>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
